body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// HOME

.home-container {
  display: flex;
  justify-content: space-evenly;
}

// CHALLENGES

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  column-gap: 20px;
  row-gap: 20px;
  width: 70%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10%;
  width: 200px;
  height: 250px;

  .card-icon {
    width: 50px;
  }

  .card-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .checkbox {
      width: 20px;
      height: 20px;
    }
  }
}

.locked {
  filter: grayscale(1);
  background-color: #EEEEEE;
}

// RANK

.rank-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

    .rank-content {
      position: sticky;
      top: 0;
    }
}